@tailwind base;
@tailwind components;
@tailwind utilities;

button.primary{
  background-color: transparent;
  @apply p-2 w-full text-black rounded-full;
}

div.transbox {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}